/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}
.close-icon {
  margin: 1rem 0.5rem;
  color: rgb(51, 51, 51);
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger-icon, .close-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hamburger-icon.animate {
  animation: rotateIn 0.3s forwards;
}

.close-icon.animate {
  animation: rotateOut 0.3s forwards;
}

@keyframes rotateIn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotateOut {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out 0.3s; /* Add a delay to the close animation */
}

.menu.open {
  transform: translateX(0);
  
}

.menu ul {
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 4rem; /* Ensure the menu items start below the navbar */
}

.menu ul li {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}