/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
    color: white;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .hamburger-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .close-icon {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-enter {
    transform: translateX(100%);
  }
  
  .menu-enter-active {
    transform: translateX(0);
  }
  
  .menu-exit {
    transform: translateX(0);
  }
  
  .menu-exit-active {
    transform: translateX(100%);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  