/* src/components/ProductList.css */
/* src/components/ProductList.css */
.product-list {
  padding: 1rem;
  margin-left: 260px; /* Adjust based on sidebar width */
}

.product-item {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

  
  .product-item .price {
    font-weight: bold;
    color: #333;
  }
  