/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 4rem;
}

.sidebar {
  flex: 0 0 200px;
}

.product-list {
  flex: 1;
  padding: 1rem;
}
